<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <ul>
    <% if(postCounts > 0) { %>
    <% for(let i =0; i < postCounts; i++) { %>
    <li>
      <p>title: <%= POSTS[i].title%></p>
      <p>content: <%= POSTS[i].content%></p>

    </li>
    <% } %> <% } else { %>
    <li>등록된 포스트 정보가 없습니다.</li>
    <% } %>
  </ul>
  <form action="/posts/add" method="POST">
    <div>
      <label>title</label>
      <input type="text" name="title">
    </div>
    <div>
      <label>content</label>
      <input type="text" name="content">
    </div>
    <button type="submit">추가</button>
  </form>
</body>

</html>